{% extends 'snippets/base.html' %}
{% block content %}

<table class="table table-bordered table-dark">
    <thead>
    <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Price in USD</th>
        <th scope="col">Symbol</th>
    </tr>
    </thead>
    <tbody>
    {% for each in data %}
        <tr {% if each.percent_change_24h.0 == '-' %}
            class = "text-danger"
        {% else %}
            class = "text-success"
    {% endif %}
        >
            <td scope="row">{{each.rank}}</td>
            <td scope="row">{{each.name}}</td>
            <td scope="row">{{each.price_usd}}</td>
            <td scope="row">{{each.symbol}}</td>
        </tr>
    {% empty %}
    <tr><td>NO RESULT FOUND !!!</td></tr>
    {% endfor %}
    </tbody>
</table>

{%endblock content%}
