{% extends 'snippets/base.html' %}
{% block content %}


<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">UserName</th>
        <th scope="col">Name</th>
        <th scope="col">GIT_URL</th>
        <th scope="col">Followers</th>
        <th scope="col">Following</th>
        <th scope="col">Created_on</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">{{data.login}}</td>
            <td scope="row">{{data.name}}</td>
            <td scope="row"><a href="{{data.html_url}}">{{data.html_url}}</a> </td>
            <td scope="row">{{data.followers}}</td>
            <td scope="row">{{data.following}}</td>
            <td scope="row">{{data.created_at}}</td>
        </tr>
    </tbody>
</table>
<img src="{{data.avatar_url}}" class="rounded-circle" alt="Responsive image" height = "100" width="100">
{%endblock content%}
