{% extends "snippets/base.html" %}

{% comment %}
this is comment

{% endcomment %}

{% block content %}

    {% for each in posts %}
        <div class="card" style="margin: 10px">
            <div class="card-body">
                <h1>{{each.title|title}}</a></h1>
                <small>{{ each.author.username|default:"Guest_user"}} | {{ each.published_date|date:"F,d-l-Y - h A"}}</small>
                <p>{{ each.body|truncatechars:150 }}</p>
                <a href="{% url 'blog_detail' each.id%}">
                    <button type="button" class="btn btn-primary btn-sm">View More</button>
                </a>
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    View Comments   <span class="badge badge-light">
                                    *new*
                                    </span>
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body" style="margin: 10px">
                <b><h6>Comments!</h6></b>
                  {% for com in comments %}
                    {% if each.id == com.post_id %}
                        <small>{{ com.email}} --[{{ com.comment_date|date:"d/m/Y - h A"}}]</small>
                        <p><b> - </b><i>{{ com.comment }}</i></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}

